@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.progresscontainer {
  background: linear-gradient(to left, #00acea, #00efd1);
}

.progress {
  height: 4px;
  width: 0px;
  animation: progressbar 1s 1 ease;
}

@keyframes progressbar {
  0% {
    width: 0px;
    background-color: #2c00ef;
  }

  100% {
    width: 100vw;
    background-color: #2f00ff;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #caeef5;
  overflow-x: hidden;
}

main {
  flex: 1;
}

h2 {
  margin: 30px;
  background-color: #caeef5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #0057b7;
  border-radius: 10px;
}

p {
  padding: 16px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #333333;
  margin: 10px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 16px;
  gap: 10px;
}

.container .card {
  width: 250px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .a {
  text-decoration: none;
  color: #333333;
}