@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap");

.button {
  padding: 10px 20px;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #0057b7, #0088ff);
  border-radius: 10px;
  display: inline-flex;
  text-decoration: none;
  color: #e5ebec;
  font-size: 20px;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 2px 2px 10px #080808;
}

.button:hover {
  background: linear-gradient(260deg, #1fa2ff, #12d8fa, #a6ffcb);
  color: #0d0138;
}

.button:active {
  background: linear-gradient(260deg, #1fa2ff, #12d8fa, #a6ffcb);
  box-shadow: 0 0 22px #3399ff;
  transform: translateY(2px);
}

.branchbuttons {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

  .branchbuttons .button {
    width: 300px;
  }

.sembuttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 16px auto;
  gap: 20px;
  box-sizing: border-box;
}

.sembuttons .button {
  margin: 16px;
  width: 250px;
  gap:10px;
}

@media screen and (max-width: 376px) {
  .sembuttons {
    display: grid;
    grid-template-columns: 1fr;
  }
  .branchbuttons .button {
    width: 200px;
  }
}
